<html>
    <head>
        <title>Search History</title>
    </head>
    <body>
        <h1>Search History</h1>
        <div id="history-container">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Company</th>
                        <th>Report</th>
                        <th>Period</th>
                        <th>Source Total</th>
                        <th>Final Total</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <span id="historyData"></span>
                    {% for entry in history %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.company }}</td>
                        <td>{{ entry.report }}</td>
                        <td>{{ entry.start_date }} s/d {{ entry.end_date }}</td>
                        <td>{{ entry.source_total }}</td>
                        <td>{{ entry.final_total }}</td>
                        <td>{{ entry.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>